<div class="well">
  <h1><%= markdown @post.title %></h1>
</div>

<div class="row">
  <div class="span8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @post.user.name %>
    </small>
    <div class="thumbnail">
      <%= image_tag(@post.image.thumb.url, class: 'img-responsive')  if @post.image? %>
        <p><%= markdown @post.body %></p>
    </div>
    <div>
      <%= render partial: "show", locals: {comments: @comments} %>
    </div>
    <%= render partial: 'comments', locals: {topic: @topic, post: @post, comment: @comment} %>
  </div>
  <div class="span4">
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-large btn-block' %>
    <% end %>
  </div>
</div>
